<div class="portfolio">
    <div class="card">
        <img src="/hot-topics/img/p1.jpg">
        <p>Bank notes</p>
    </div>

    <div class="card">
        <img src="/hot-topics/img/p2.jpg">
        <p>Corn harvest</p>
    </div>

    <div class="card">
        <img src="/hot-topics/img/p3.jpg">
        <p>Earth</p>
    </div>

    <div class="card">
        <img src="/hot-topics/img/p4.jpg">
        <p>Mails</p>
    </div>

    <div class="card">
        <img src="/hot-topics/img/p5.jpg">
        <p>Tomatoes</p>
    </div>

    <div class="card">
        <img src="/hot-topics/img/p6.jpg">
        <p>Praying Mantis</p>
    </div>
</div>
